.quantityBtn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 36px !important;
    height: 36px !important;
    padding: 0 !important;
    background: #333333 !important;
    color: #ffffff !important;
    border: none !important;
    font-size: 14px !important;
}

.quantityInput {
    text-align: center !important;
    background: #333333 !important;
    color: #ffffff !important;
    border: none !important;
    width: 50px !important;
    height: 36px !important;
    margin: 0 8px !important;
}

.quantityContainer {
    display: flex !important;
    align-items: center !important;
}

.plusIcon,
.minusIcon {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    height: 100% !important;
}